In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("processed_dataset.pickle")

In [3]:
df

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,ZIP_CODE,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,SALE_PRICE,SALE_DATE,SALE_DATE_ORD,BUILDING_CLASS_CATEGORY_ORD,BATHROOM_COUNT
0,1,ALPHABET CITY,02 TWO FAMILY HOMES,10009,2134.0,3542.0,1899,1800000,2003-01-22,21,2.0,4
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,2185.0,5725.0,1910,426000,2003-10-23,290,7.0,2
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,2377.0,8722.0,1900,1600000,2003-09-08,245,7.0,4
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,1957.0,6200.0,1920,1060000,2003-04-30,117,7.0,5
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,2842.0,12613.0,1900,3200000,2003-11-18,316,7.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
524698,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,2255.0,2377.0,1998,640000,2019-03-08,5335,2.0,2
524699,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,4000.0,2400.0,2000,917000,2019-03-01,5329,2.0,5
524700,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,2340.0,2160.0,2001,610000,2019-08-06,5464,2.0,2
524701,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,2730.0,2565.0,2001,625000,2019-07-30,5458,2.0,2
524702,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,8846.0,1710.0,2001,637500,2019-08-20,5476,2.0,3

In [4]:
import numpy as np

In [6]:
df["BUYER_SEX"] = np.random.default_rng().choice(["M", "W"], size=len(df))

In [11]:
dfs = np.array_split(df.sample(frac=1), 5)

In [12]:
for idx, dfsp in enumerate(dfs):
    dfsp.reset_index(drop=True).to_pickle(f"dataset_{idx}.pandas_pickle")

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,ZIP_CODE,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,SALE_PRICE,SALE_DATE,SALE_DATE_ORD,BUILDING_CLASS_CATEGORY_ORD,BATHROOM_COUNT,BUYER_SEX
0,1,ALPHABET CITY,02 TWO FAMILY HOMES,10009,2134.0,3542.0,1899,1800000,2003-01-22,21,2.0,4,W
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,2185.0,5725.0,1910,426000,2003-10-23,290,7.0,2,W
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,2377.0,8722.0,1900,1600000,2003-09-08,245,7.0,4,W
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,1957.0,6200.0,1920,1060000,2003-04-30,117,7.0,5,W
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,2842.0,12613.0,1900,3200000,2003-11-18,316,7.0,5,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524698,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,2255.0,2377.0,1998,640000,2019-03-08,5335,2.0,2,W
524699,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,4000.0,2400.0,2000,917000,2019-03-01,5329,2.0,5,M
524700,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,2340.0,2160.0,2001,610000,2019-08-06,5464,2.0,2,M
524701,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,2730.0,2565.0,2001,625000,2019-07-30,5458,2.0,2,M
524702,5,WOODROW,02 TWO FAMILY DWELLINGS,10309,8846.0,1710.0,2001,637500,2019-08-20,5476,2.0,3,W